{% extends 'en/base.html' %}
{% block content %}
<!-- Header -->
<header class="py-5" style="background-color: #f9f0f4; color: #000;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center">
            <h1 class="display-4 fw-bolder" style="color: #d63384;">Shopping Cart</h1>
            <p class="lead fw-normal text-muted mb-0">Review Your Order...</p>
        </div>
    </div>
</header>
<br>
<div class="container" style="max-width: 800px; margin: 0 auto;">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header">
            Order Summary
          </div>
          <div class="card-body">
            {% for product in cart_products %}
              {{ product.name }}:
                {% if product.is_sale %}
                  {{ product.sale_price }} Kyat
                {% else %}
                  {{ product.price }} Kyat
              {% endif %}
              <br/>
              <small>Quantity:
              {% for key, value in quantities.items %}
                {% if key == product.id|slugify %}{{ value }}
                {% endif %}
              {% endfor %}
              </small>
              <br><br>
            {% endfor %}
            Total: {{ totals }} Kyat
            <br><br>
            <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">Update Items</a>
          </div>
        </div>
        <br><br>
        <div class="card">
          <div class="card-header">
            Shipping Info
          </div>
          <div class="card-body">
      {% if user.is_authenticated %}
            <form method="POST" action="{% url 'billing_info' %}">
              {% csrf_token %}
              {{ shipping_form.as_p }}      
          </div>
        </div>
<br>
        <button type="submit" class="btn btn-secondary">
          Continue To Billing
        </a>
      </form>
      {% else %}
        <a href="{% url 'en:register' %}" class="text-decoration-none btn btn-sm btn-warning"><b>You need to signup or login first</b></a>
        <br>
      {% endif %}
      </div>
    </div>
    <br>
</div>
<br>
{% endblock %}